page-feesDetail{
    .title,
    .subTitle{
        padding: 0 13px;
    }
    .title{
        font-size: 18px;
        font-weight: 300;
    }
    .subTitle{
        font-size: 14px;
        font-weight: 500;
            color: #e24090;
    }
    .monthlyInvoice h2{
        clear: both;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .monthlyInvoice h2:last-child{
        clear: both;
        margin-bottom: 10px;
    }
    .monthlyInvoice h2 span{
        float: right;
        font-weight: 400;
        font-size: 18px;
    }
    .total{
        clear: both;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 0 13px;
    }
    .total span{
        float: right;
        font-weight: 400;
        font-size: 18px;
    }
    .feesDetail{
        text-align: center;
    }
    
}