page-academics {
  .result {
    padding: 8px;
  }

  .achievementWrapper {
    margin-top: 10px;
    background-color: pink;
  }

  .heading {
    border-bottom: 0.1px solid #958077;
  }

  .segmentWrapper {
    margin-bottom: 0;
  }

  .col{
  	padding: 0;
  }

  .achievement_info h1{
    font-size: 16px;
    color: #df4790;
    font-weight: 700;
  }

  .achievement_info p{
    color: #545454;
  }

  .mb-20{
    margin-bottom: 20px;
  }

  
  
}
